.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-image: url('./logo.jpg') no-repeat;
  background-size: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
img:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.homepage2 {
  top: 50%;
  width: 60%;
}

.container {
    position: relative;
    width: 100%;
}

.rightLogin {
    position: absolute;
    margin-top: 150px;
    right: 200px;
    margin-right: 50px;
    width: 30%;
}

.logout{

}

.full {
  width: 100%;
}
