.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pushed {
  position:relative;
  margin-left: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.show-sidebar {
  position: absolute;
  margin-left: 0;
  width: 30%
}

.show-menu {
  position: absolute;
  margin-right: 0;
  width: 70%;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
img.bounce_button {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-size: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
img.bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.homepage2 {
  top: 50%;
  width: 60%;
}

.container {
    position: relative;
    width: 100%;
}

.rightLogin {
    position: absolute;
    margin-top: 150px;
    right: 200px;
    margin-right: 50px;
    width: 30%;
}

.logout{

}

.role-card{
  width: 100px;
  height: 30px;
  text-align: left;
  position: absolute;
}


.scene-card{
  width: 100px;
  height: 30px;
  padding-top:0;
  text-align: left;
  position: absolute;
  z-index: 1;
}

.scenes {
  width: 50%;
}

document body div #canvas-contaier {
  width: 800px;
  height: 300px;
  background-image: url('./stagePlot.jpg'), no-repeat;
  background-size: 100%;
  padding: 200px;
  margin: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: blue;
}
.container-segment{
  width: 80%;
  height: 100%;
  position: relative;
  z-index: -1;
  padding-bottom: 50px
}

.note-display {
  width: 100px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 0px;
  position: absolute;
}

.show-form {
  margin-right: 500px;
}

.small-field{
  position: relative;
  width: 100px;
  height: 30px;
}

.full {
  width: 100%;
}

@gray: #333;
@gray-light: #aaa;
@gray-lighter: #eee;
@space: 40px;
@blue: #428bca;
@blue-dark: darken(@blue, 5%);

/* // Mixin for transition/transform */
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}
